/*
Arun Paramanathan
CIS 580 (Fall 2017)
reversi.css
*/

#game-board {
  border: 2px solid darkgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 672px;
  height: 672px;
}

.square {
  border: 2px solid darkgrey;
  width: 80px;
  height: 80px;
}

.square.highlight {
  background-color: lightgreen;
}

.piece {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px darkgrey;
}

.piece-b {
  background-color: black;
}

.piece-w {
  background-color: #e5e5e5;
}
